Language: Cpp
BasedOnStyle: Google
SortIncludes: false
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackParameters: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: false
ColumnLimit: 256
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
Cpp11BracedListStyle: true
Standard: Cpp11
IndentWidth: 4
UseTab: Never
